body {
    background-color: green;
}
h1 {
    color: beige;
}
h2 {
    color: beige;
}
p {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a {
  color: beige;
}
dl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
img {
    width: 50%;
    height: 20%;
}
  /* Create two columns/boxes that floats next to each other */
nav {
    float: left;
    width: 100%;
    background: rgb(0, 119, 0);
    padding: 10px;
}
/* Style the header */
.header {
    padding: 20px;
    text-align: center;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: beige;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: beige;
    color: #333;
  }