body {
    background-color: green;
}
h1 {
    color: beige;
}
h2 {
    color: beige;
}
p {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a {
  color: beige;
}
dl {
    list-style-type: none;
    font-size: large;
    margin: 0;
    padding: 0;
}
img {
    display: block;
    width: 50%;
    height: 20%;
    margin: 50px;
    float: center;
}
  /* Create two columns/boxes that floats next to each other */
nav {
    float: left;
    width: 100%;
    background: rgb(0, 119, 0);
    padding: 10px;
}
.center {
  margin: auto;
  width: 50%;
}
/* Style the header */
.header {
    padding: 20px;
    background-color: #cf9800;
    text-align: center;
}
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #333;
  }

  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: beige;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: beige;
    color: #333;
  }

/* Create three equal columns that float next to each other */
.column {
  float: left;
  width: 33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other 
instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

